<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apriori Algorithm</title>
</head>
<body>
 <style>
    *{
        margin:0;
        padding:0;
    box-sizing: boirder-box;
    }
    body{
        background-color:#DFF2EB
    }
    h1{
        margin-top:40px;
        text-align: center;
        color: #4A628A;
    }
    form{
        margin-left:44px;
    font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        height: 50vh;
        width: 50vw;
    }
 </style>
    <h1>Upload CSV File to Run Apriori Algorithm</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <label for="file">Choose a CSV file:</label>
        <input type="file" id="file" name="file" accept=".csv" required>
        <br><br>
        <label for="min_sup">Minimum Support Count:</label>
        <input type="number" id="min_sup" name="min_sup" required>
        <br><br>
        <button type="submit">Run Apriori</button>
    </form>
</body>
</html>
